<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="ConnectionString" value="Data Source=LENOVO-IPS3;Initial Catalog=Triathlon;Integrated Security=True;TrustServerCertificate=True" />
		<add key="ParentTableName" value="Teams" />
		<add key="ChildTableName" value="Athletes" />
		<add key="ParentTablePrimaryKey" value="id" />
		<add key="ChildTableForeignKey" value="team_id" />
		<!--<add key="ParentTableName" value="Teams" />
		<add key="ChildTableName" value="Coaches" />
		<add key="ParentTablePrimaryKey" value="id" />
		<add key="ChildTableForeignKey" value="team_id" />-->
	</appSettings>
</configuration>