# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VS and build files and and folders
.vs
x64
*.sln
*.vcxproj
*.user
*.filters
.opencppcov
*.log
*.bak

# files specific to this project
coats.txt
basket.csv
basket.html
resources